body {
  font-family: 'Roboto';
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
button {
  border: none;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.8vw;
  background-color: #1d1d1d;
  color: var(--primary-light);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-check-double {
  font-size: 3vw;
}

.page-name {
  padding-left: 1.5vw;
  font-family: 'Yusei Magic', sans-serif;
  font-size: 2.5vw;
}

#root {
  height: 100vh;
  display: flex;
}

/*SIDEBAR*/
#sidebar {
  height: calc(100% - 6vw);
  overflow-x: hidden;
  overflow-y: auto;
  width: 25%;
  /* background-color: #373c3f; */
  background-color: #1d1d1d;
}
#sidebar::-webkit-scrollbar {
  display: none;
}
#upcoming-heading,
.upcoming-divider {
  /* padding-left: 10%; */
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}
#projects-heading,
#upcoming-heading {
  padding-left: 0.5vw;
}
#default-projects-list {
  padding: 0vw 3vw;
  display: flex;
  flex-direction: column;
}
.button-default-project {
  background-color: #1d1d1d;
  border-radius: 3px;
  padding: 0.5vw 1vw;
  margin-top: 0.5vw;
  /* background-color:#373c3f; */
  border: none;
  font-size: 1.5vw;
  color: hsla(0, 0%, 100%, 0.5);
  display: flex;
  align-items: center;
  justify-content: baseline;
  font-weight: 700;
  cursor: pointer;
}
.button-default-project i {
  margin-right: 1vw;
}
.button-default-project:hover {
  background-color: #2f3437;
  /* background-color: #444a4d;     */
}
.button-default-project:active {
  color: #fff;
}

#projects-panel {
  margin-top: 2vw;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}
#projects-heading,
#upcoming-heading {
  font-weight: 800;
  font-size: 2.2vw;
  color: hsla(0, 0%, 100%, 0.9);
  margin-top: 1vw;
  line-height: 3vw;
}
.project-item {
  background-color: #1d1d1d;
  margin-left: 0.3vw;
  margin-right: 0.3vw;
  padding: 0.5vw 1vw;
  font-size: 1.5vw;
  color: hsla(0, 0%, 100%, 0.5);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  margin-top: 0.5vw;
  cursor: pointer;
}
.project-item:hover {
  /* background-color: #444a4d;     */
  background-color: #2f3437;
}
.project-item:active {
  color: #fff;
}

.divider,
.upcoming-divider {
  height: 1px;
  margin-top: 1vw;
  margin-bottom: 1vw;
  background-color: hsla(0, 0%, 100%, 0.4);
}

#add-project-button {
  cursor: pointer;
  width: 100%;
  padding-top: 0.8vw;
  padding-bottom: 0.8vw;
  border: none;
  background-color: #1d1d1d;
  /* background-color: #373c3f; */
  font-size: 1.5vw;
  color: hsla(0, 0%, 100%, 0.8);
  margin-top: 2vw;
}
#add-project-button:hover,
#add-task-button:hover {
  /* background-color: #444a4d; */
  background-color: #2f3437;
  border-radius: 3px;
}
#add-task-button:hover {
  background-color: #444a4d;
}

/*MAIN*/
#main-panel {
  /* height: calc(100% - 100px); */
  height: calc(100% - 9vw);
  overflow: auto;
  padding: 1.5vw 3vw;
  width: 100%;
  background-color: #2f3437;
}

#project-info-placeholder {
  font-size: 40px;
  font-weight: 800;
}

#project-info-container {
  display: none;
  justify-content: space-between;
}
#project-name-main {
  margin-bottom: 8px;
  font-size: 40px;
  font-weight: 800;
}
#project-description-main {
  font-size: 24px;
}

#edit-project-info-button {
  padding-right: 10px;
  padding-left: 10px;
  height: 40px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  background-color: #2f3437;
  color: hsla(0, 0%, 100%, 0.8);
}
#edit-project-info-button:hover {
  background-color: #444a4d;
  border-radius: 3px;
}
#edit-project-info i {
  margin-left: 6px;
}

#tasks-container {
  display: none;
}

.task {
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task:hover {
  cursor: pointer;
  transform: scale(1.005);
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-out;
}
.task-left {
  display: flex;
}
.task-name {
  margin-left: 12px;
  font-size: 23px;
}
.checkbox {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid hsla(0, 0%, 100%, 0.4);
  cursor: pointer;
}
.done {
  background-color: #7af76e;
}
.checkbox i {
  color: black;
  margin-left: 15%;
  margin-top: 20%;
}
.task-right {
  display: flex;
  padding-right: 10px;
}
.task-time {
  font-size: 18px;
  margin-right: 10px;
}
.task-right i {
  margin-left: 20px;
}

#add-task-button {
  color: #fff;
  font-size: 24px;
  padding: 0.8vw 0.5vw;
  display: none;
  margin-top: 1vw;
  margin-bottom: 1vw;
  width: 200px;
  background-color: #2f3437;
}

#add-project-window-container {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

#add-project-window {
  width: 70vw;
  height: 35vw;
  background-color: rgb(63, 68, 71);
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.2) 0px 3px 6px, rgba(15, 15, 15, 0.4) 0px 9px 24px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  padding: 3vw;
  box-sizing: border-box;
}

.add-project-label {
  font-weight: 800;
  font-size: 4vw;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.add-project-input {
  margin-bottom: 2.5vw;
  background-color: #444a4d;
  border: none;
  font-family: 'sf-light';
  color: white;
  font-size: 2.5vw;
  padding: 0.8px;
  border-radius: 5px;
}

#add-project-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-project-dialog-submit-button {
  font-size: 2.5vw;
  font-family: 'sf-bold';
  color: white;
  background-color: #00cd00;
  padding: 0.8vw;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -0.3vw;
}

#add-project-cancel-button {
  font-size: 2.5vw;
  font-family: 'sf-bold';
  color: white;
  background-color: #ff2d4a;
  padding: 0.8vw;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -0.3vw;
  margin-left: 3vw;
  width: 8vw;
  display: flex;
  justify-content: center;
}

#edit-project-info-container {
  display: none;
  flex-direction: column;
}

.edit-project-details {
  margin-bottom: 5px;
  background-color: #444a4d;
  border: none;
  font-family: 'sf-light';
  color: white;
  font-size: 32px;
  padding: 12px;
  border-radius: 5px;
}

#edit-project-button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#edit-project-submit-button {
  margin-bottom: 10px;
  height: 55px;
  font-size: 24px;
  font-weight: 800;
  color: white;
  background-color: #00cd00;
  padding: 12px;
  border-radius: 5px;
  margin-top: 4px;
  margin-bottom: 0px;
  cursor: pointer;
}

#edit-project-cancel-button {
  height: 55px;
  font-size: 24px;
  font-weight: 800;
  color: white;
  background-color: #ff2d4a;
  padding: 12px;
  border-radius: 5px;
  margin-top: 4px;
  margin-bottom: 0px;
  margin-left: 12px;
  cursor: pointer;
}

/* ADD TASK */
.add-task,
.edit-task {
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  align-items: center;
  justify-content: space-between;
}
.edit-task {
  display: flex;
}
.add-task {
  display: none;
}

.add-task:hover,
.edit-task:hover {
  transform: scale(1.005);
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-out;
}

.add-task-left,
.edit-task-left {
  display: flex;
  width: 40vw;
}
.add-task-name,
.edit-task-name {
  background-color: #444a4d;
  border: none;
  font-family: 'sf-light';
  color: white;
  font-size: 18px;
  padding: 8px;
  border-radius: 5px;
  width: 100%;
}
.add-task-right,
.edit-task-right {
  display: flex;
}
.add-task-date,
.edit-task-date {
  margin-left: 5vw;
  margin-right: 2vw;
  width: 10vw;
  background-color: #444a4d;
  border: none;
  color: white;
  font-size: 18px;
  padding: 8px;
  border-radius: 5px;
}
.add-task-button-container,
.edit-task-button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.add-task-submit-button,
.edit-task-submit-button {
  height: 40px;
  font-size: 16px;
  font-weight: 800;
  color: white;
  background-color: #00cd00;
  padding: 9px;
  border-radius: 5px;
  margin-top: 0px;
  /* margin-left: 40px; */
  margin-bottom: 0px;
  cursor: pointer;
}
.add-task-cancel-button,
.edit-task-cancel-button {
  height: 40px;
  font-size: 16px;
  font-weight: 800;
  color: white;
  background-color: #ff2d4a;
  padding: 9px;
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 12px;
  cursor: pointer;
}
